<html>
  <head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
 <script>
   $(function() {
      $("form").submit(function() {
        window.location = '/' + $("#search").val();
        return false;
      });
     $("button").click(function() {
      window.location = $(this).attr('data-href'); $(this).attr('disabled', true);
     });
    });
  </script>
    <title>FUCK YEAH <%= params[:noun].upcase.gsub(/[^\w\d\!\@\#\$\%\^\&\*\_\-\ ]/,'') %></title>
      <style>
        body {
          margin: 0 auto;
          text-align: center;
          font-size: 36px;
          font-family: helvetica;
          color: #333;
        }

        label {
          line-height: 44px;
         letter-spacing: -3px;
          font-weight: bold;
        }

        input {
         margin: 0 auto;
          height: 44px;
          font-size: 36px;
          line-height: 40px;
          color: #333;
          font-weight: bold;
          letter-spacing: -3px;
          text-transform: uppercase;
        }

        form{
          margin: 0 auto;
        }

        p{
          margin-top: 10px;
          font-size: 8px;
          color: #999;
        }

        label a {
          color: #333;
       }

        a{
          text-decoration: none;
          color: #999;
        }

        img{
          padding-top: 1em;
          padding-bottom: 10px;
        }

        #image-container{
          width: 600px;
          margin: 0 auto;
          min-height: 400px;
          background: url(images/ajax-loader.gif) center center no-repeat;
        }
  </style>
  </head>
  <body>
    <div id="image-container">
      <img src='/images/<%= CGI.escape params[:noun] %>' />
    </div>
    <br/>
   <form>
      <label><a href="http://fuckyeahnouns.com">FUCK YEAH</a></label> <input id="search" />
    </form>
    <br/>
    <span style="position:relative;top:-18px;">
    <a href="http://twitter.com/share" class="twitter-share-button"
       data-count="vertical"
       data-url="http://fuckyeahnouns.com/<%= CGI.escape params[:noun] %>" data-text="FUCK YEAH <%=params[:noun].upcase.gsub(/[^\w\d\!\@\#\$\%\^\&\*\_\-\ ]/,'')%> #Fuckyeahnouns" data-via="fuckyeahnouns">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</span>
   <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/FuckYeahNouns/198725666813944&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px;margin:0 auto; height:80px;" allowTransparency="true"></iframe>
    <br/>
    <script type="text/javascript">
      google_ad_client = "ca-pub-2199108712382590";
      /* FuckYeahNouns */
      google_ad_slot = "8895313328";
      google_ad_width = 468;
      google_ad_height = 60;
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
   <p>
     &copy; 2011
     <a href="http://burkelibbey.org">Burke fucking Libbey</a> / <a href="http://innovatisinc.ca">Innovatis</a>
     <br/>
     <a href="http://iamstef.net/">Stefan fucking Penner</a>,
     <a href="http://eqdw.net/">Tim fucking Herd</a>
     <br/>
     Images provided by Yahoo!
     </p>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5149541-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
