<html>
  <head>
    <title>FUCK YEAH <%= params[:noun].upcase.gsub(/[^\w\d\!\@\#\$\%\^\&\*\_\-\ ]/,'') %></title>
    <style>
body {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  font-family: helvetica;
  color: #333;
}

label {
  line-height: 44px;
 letter-spacing: -3px;
  font-weight: bold;
}

input {
 margin: 0 auto;
  height: 44px;
  font-size: 36px;
  line-height: 40px;
  color: #333;
  font-weight: bold;
  letter-spacing: -3px;
  text-transform: uppercase;
}

form{
  margin: 0 auto;
}

p{
  margin-top: 10px;
  font-size: 8px;
  color: #999;
}

label a {
  color: #333;
}

a {
  text-decoration: none;
  color: #999;
}

img{
  padding-bottom: 10px;
}

#image-container{
  width: 600px;
  margin: 0 auto;
  min-height: 400px;
  background: url(ajax-loader.gif) center center no-repeat;
}

.random{
  font-size: 32px;
  line-height: 75px;
  margin-bottom: 0.5em;
}

.random:hover {
  color: black;
}

.random:visited {
  text-decoration: none;
}
  </style>
  </head>
  <body>
    <a class="random" href='/random'>
      <span style="font-size:140%">⟳</span>Random
    </a>
    <div id="image-container">
      <img src='/images/<%= ERB::Util::h(params[:noun]) %>.jpg' />
    </div>
    <br/>
   <form>
     <label><a href="http://fuckyeahnouns.com/random">FUCK YEAH</a></label> <input id="search" placeholder="<NOUN> + ENTER" />
   </form>
    <br/>
    <span style="position:relative;top:-18px;">
      <a href="http://twitter.com/share" class="twitter-share-button"
         data-count="vertical"
         data-url="http://fuckyeahnouns.com/<%= CGI.escape params[:noun] %>" data-text="FUCK YEAH <%=params[:noun].upcase.gsub(/[^\w\d\!\@\#\$\%\^\&\*\_\-\ ]/,'')%> #Fuckyeahnouns" data-via="fuckyeahnouns">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </span>
    <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/FuckYeahNouns/198725666813944&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px;margin:0 auto; height:80px;" allowTransparency="true"></iframe>
    <br/>
    <IFRAME FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=728 HEIGHT=90 SRC="http://ad.adnetwork.net/st?ad_type=iframe&ad_size=728x90&section=2841766"></IFRAME>
    <br/>
    <p>
      &copy; 2011
      <a href="http://burkelibbey.org">Burke fucking Libbey</a> <a href="http://iamstef.net/">Stefan fucking Penner</a>, <a href="http://eqdw.net/">Tim fucking Herd</a>.
     <br/>
     Another fine fucking <a href="http://skullspace.ca">SkullSpace</a> project.
     <br/>
      Images provided by Bing!
    </p>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <script>
      $(function() {
         $("form").submit(function() {
           window.location = '/' + $("#search").val();
           return false;
         });
       });
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5149541-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
